@font-face {
    font-family: "Flood-std";
    src: url("../fonts/flood-std/flood-std.woff2") format("woff2"),
        url("../fonts/flood-std/flood-std.woff") format("woff");
}

@font-face {
    font-family: 'Kometa-Regular';
    src: url('../fonts/Kometa/Kometa-Regular.woff2') format('woff2'),
        url('../fonts/Kometa/Kometa-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Kometa-Light';
    src: url('../fonts/Kometa/Kometa-Light.woff2') format('woff2'),
        url('../fonts/Kometa/Kometa-Light.woff') format('woff');
}

@font-face {
    font-family: 'Poynter-Bold';
    src: url('../fonts/Poynter/PoynterAgate-Bold.woff2') format('woff2'),
        url('../fonts/Poynter/PoynterAgate-Bold.woff') format('woff');
}